@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #EFECEC;
    background-color: #363434;
    display: grid;
    min-height: 100dvh;


    grid-template-areas:
        "nav"
        "main"
        "footer";

    grid-template-rows: auto 2fr 1fr;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    border: 2px solid green;
}

/*navigation*/

nav {
    grid-area: nav;
    border: 2px solid blue;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.burger-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 30px;
    font-size: 30px;
}

.nav-items {
    display: none;
}

/*playground*/

main {

    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
    border: 2px solid red;
}

.playground {

    width: min(80vw, 70vh);
    height: min(80vw, 70vh);
    max-width: 30rem;
    max-height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #62929A;
    gap: 3px;
    opacity: 0.6;

}

.cell {
    aspect-ratio: 1;
    background-color: #363434;
}


footer {
    grid-area: footer;
    border: 2px solid orange;
}

h1 {
    font-weight: 300;
    margin-right: 10px;
    text-shadow: 3px 3px 5px black;
}

@media (width >= 768px) {
    .burger-icon {
        display: none;
    }

    .nav-items {
        display: inline;
    }

    .nav-items a {
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: #EFECEC;
        transition: color .3s;
    }

    .nav-items a:hover {
        color: #62929A;
    }

}